<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
<div class="image-upload-container">
  <div class="image-preview" *ngIf="selectedImage; else placeholder">
    <img [src]="selectedImage" alt="Profile Image" />
  </div>
  <ng-template #placeholder>
    <div class="image-placeholder" (click)="triggerFileInput()">
      <ion-icon name="add-circle"></ion-icon>
      <p>Choose Photo</p>
    </div>
  </ng-template>
  <input
    type="file"
    id="fileInput"
    accept="image/*"
    (change)="onFileChange($event)"
    hidden
  />
</div>
<ion-content>
  <form (ngSubmit)="editProfile()" #profileForm="ngForm">
    <!-- Title -->
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <!-- Description -->
    <ion-item>
      <ion-label position="floating">Phone number</ion-label>
      <ion-input [(ngModel)]="phone" name="phone number" required></ion-input>
    </ion-item>

    <!-- Date -->


    <!-- Location -->
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input [(ngModel)]="address" name="address" required></ion-input>
    </ion-item>

    <!-- Max Participants -->


    <!-- Price -->
 



    <!-- Center of Interest -->
    <ion-item>
      <ion-label position="floating">Center of Interest</ion-label>
      <ion-select [(ngModel)]="centerOfInterest" name="centerOfInterest" multiple required>
        <ion-select-option *ngFor="let interest of centerList" [value]="interest._id">
          {{ interest.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Image Upload 
    <ion-item>
      <ion-label>Upload Event Image</ion-label>
      <input type="file" (change)="onFileChange($event)" />
    </ion-item>-->


    <!-- Submit Button -->
    <ion-footer>
      <ion-button expand="full" type="submit" [disabled]="!profileForm.form.valid">
        Edit profile
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
