<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/home']"  >
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="my-events" [routerLink]="['my-events']">
      <ion-icon name="library"></ion-icon>
      My Events
    </ion-tab-button>
    <ion-tab-button tab="my-partitipations">
      <ion-icon name="library"></ion-icon>
      Participations
    </ion-tab-button>
    <ion-tab-button tab="edit-profile">
      <ion-icon name="person-circle"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>