ion-header {
  background: var(--ion-color-light);

  ion-toolbar.wrapper {
    --background: url('../../assets/imgs/header.png') no-repeat center center/cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    ion-item, ion-toolbar.srchBar {
      --background: transparent;
    }

    ion-item {
      margin: 3.5vh 0;

      ion-label {
        font-size: 0.75rem;

        ion-icon {
          margin-right: 3px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        p {
          margin-top: 3px;
          font-size: 1.8rem;
          color: #fff;
          font-weight: bold;
        }
      }

      ion-avatar {
        margin-right: 10px;
        width: 80px; /* Equal width */
        height: 80px; /* Equal height for a perfect circle */
        display: flex;
        justify-content: center;
        align-items: center; /* Centers the image inside */
      
        img {
          width: 100%; /* Fill the avatar width */
          height: 100%; /* Fill the avatar height */
          border-radius: 50%; /* Ensures the circular shape */
          object-fit: cover; /* Ensures the image scales and crops properly */
          border: 2px solid var(--ion-color-medium); /* Optional border for styling */
        }
      }
      
      
      
      
    }

    ion-toolbar.srchBar {
      ion-row {
        background: #fff;
        border-radius: 25px;
        margin: 5px 5px 8px 5px;

        ion-col {
          padding: 0;
        }
      }
    }

    ion-fab-button {
      --box-shadow: none;

      ion-icon {
        font-size: 1.3rem;
      }
    }

    ion-searchbar {
      padding: 0;
      --border-radius: 25px;
      --background: #fff;
    }
  }
}

ion-content {
  ion-list {
    background: transparent;

    ion-list-header,
    ion-item-divider {
      font-size: 1.3rem;
    }

    ion-item-divider {
      ion-button {
        text-decoration: underline;
      }
      
      img {
        margin-left: 5px;
        height: 1rem;
        width: 1rem;
      }
    }
  }

  ion-card {
    border-radius: 25px;
  }


}
